<a href="/celebrity/<%- celebrity.id %>/update">Update</a>
<form action="/celebrity/<%- celebrity.id %>/delete" method="post"><button type="submit" onclick="return confirm('do you want really info of <%= celebrity.name%>')">Delete</button></form>
