<a href="/celebrity/<%- celebrity.id %>/update">Update</a>
<a href="/celebrity/<%- celebrity.id %>/delete"><button onclick="return confirm('do you want really info of <%= celebrity.name%>')">Delete</button></a>
