<a style="background-color: blue; border-radius: 7px; padding: 5px;" href="/celebrity/<%- celebrity.id %>/update">Update</a>
<a href="/celebrity/<%- celebrity.id %>/delete"><button style="background-color: red; padding: 5px; border-radius: 7px;" onclick="return confirm('do you want really info of <%= celebrity.name%>')">Delete</button></a>
