<div class="name-input-container">
    <label for="name">Enter celebrity name: </label>
    <input type="text" name="name" id="name" value="<%= locals.celebrity?.name || '' %>" />
</div>
<div class="birthdate-input-container">
    <label for="birthdate">Enter celebrity birthdate: </label>
    <input type="date" name="birthdate" id="birthdate" />
</div>
<div class="description-input-container">
    <label for="description">Enter celebrity bio: </label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
</div>
<button type="submit">add your celebrity</button>
