<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/category">All categories</a></li>
            <li><a href="/celebrity">All celebrities</a></li>
        </ul>
    </nav>
</header>