<div class="password-input-container">
    <label for="password">Enter the password</label>
    <input
        type="password"
        name="password"
        placeholder="Enter the code"
        id="password"
    />
</div>
