<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a category</title>
</head>
<body>
    <form action="/category/create" method="post">
        <%- include('partials/categoryForm.ejs') %>
    </form>
</body>
</html>