
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-delete-category-page.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="/category/delete/<%- locals.category.id %>" method="post">
            <%- include('partials/errors', {errors: locals.errors}) %>
            <%- include('partials/passwordForm') %>
            <button type="submit">Delete this category</button>
        </form>
    </main>
</body>
</html>