<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update info of <%- locals.celebrity?.name || `Celebrity`%></title>
  </head>
  <body>
    <%- include('partials/header') %> 
    <% if (locals.celebrity) { %>
    <form action="/celebrities/<%- celebrity.id %>/update" method="post">
      <%- include('partials/celebrityForm', {categories: categories, celebrity: celebrity}) %>
    </form>
    <% } else { %>
        you didn't added this category yet
    <%} %>
  </body>
</html>
