<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE CATEGORY</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/errors', {errors: locals.errors}) %>
    <% if (locals.category) { %>
        <form action="" method="post">
            <%- include('partials/categoryForm', {name: category.name}) %>
            <button type="submit">Update this category</button>
        </form>
    <% } else { %>
        this category don't exist yet
    <%} %>
    
    
</body>
</html>