<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE CATEGORY</title>
</head>
<body>
    <% if (locals.category) { %>
        <form action="" method="post">
            <%- include('partials/categoryForm', {name: category.name}) %>
        </form>
        <%console.log('category.name:', category)%>
    <% } else { %>
        this category don't exist yet
    <%} %>
    
    
</body>
</html>