body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px 10px;
    font-size: 20px;
    margin: 5px auto;
    border-radius: 7px;
}

.password-input-container {
    padding: 10px;
}

label {
    font-size: 20px;
}

input {
    padding: 5px;
    font-size: 18px;
}