body {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 10px;
}

.password-input-container {
    justify-self: center;
    margin: 5px auto;
}