body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px 10px;
    margin: 5px auto;
}