body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 15px;
    padding: 7px 15px;
    background-color: blue;
    border-radius: 7px;
}