
header {
    background-color: aquamarine;
    padding: 40px 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

 a:visited {
    color: black;
 }

.right-side {
    display: flex;
    gap: 25px;
    font-size: 20px;
}
