main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    height: 100%;
}

.description-page {
    font-size: 22px;
}

.celebrity-container {
    padding: 150px 20px;

}

.celebrity-container * {
    margin: 10px;
}