* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.category-ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.category-container {
    border: 1px solid black;
    padding: 10px;
}

.name-of-category {
    display: block;
    text-align: center;
    font-size: 17px;
    text-decoration: underline;
    color: blue;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.name-of-category:visited {
    color: blue;
}
.update-category {
    text-decoration: underline;
    color: blue;
}

.update-category:visited {
    color: blue;
}

.update-category:hover {
    text-decoration: none;
}

.delete-category, .update-category {
    margin-top: 30px;
    margin: 30px;
}

.delete-category {
    background-color: red;
    padding:7px;
    border-radius: 30px;
}

main {
    padding: 30px;
}

.create-category-container {
    margin-top: 30px;
    font-size: 19px;
}